@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,200&display=swap');

:root {
    --main-color: #29282c;
    --second-color: #ff2f5c;
    --first-hover-color: #ffc933;
    --text-color-gray: #7a7a7a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Popins', sans-serif;
}

body {
    font-size: 16px;
    /* basic fonty size */
}

.sidebar {
    width: 330px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--main-color);
    z-index: 100;
}

.sidebar-brand {
    height: 90px;
    padding: 2rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
    font-size: 1.8rem;
}

.sidebar-brand span.logo {
    color: var(--second-color);
    font-weight: 800;
}

.sidebar-brand span.text-logo {
    font-weight: 800;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    color: rgb(207, 207, 207);
}

.sidebar-menu li:hover {
    color: var(--second-color);
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: inherit;
    font-size: 1.1rem;
}

.sidebar-menu a span {
    transition: .1s;
}

.sidebar-menu a span:hover {
    color: var(--second-color);
    font-size: 1.1rem;
}

.sidebar-menu a.active {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.main-content {
    margin-left: 330px;
}

#hamburger_menu {
    display: none;
}

#hamburger_menu:checked+.sidebar {
    width: 85px;
}

#hamburger_menu:checked~.main-content {
    margin-left: 85px;
}

#hamburger_menu:checked~.main-content header {
    width: calc(100% - 85px);
    left: 85px;
}

#hamburger_menu:checked+.sidebar .sidebar-brand h1 span.text-logo,
#hamburger_menu:checked+.sidebar .sidebar-menu ul li a span:last-child {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 1rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    position: fixed;
    left: 340px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    background-color: #fff;
}

header h2 {
    color: #333;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

header label span.las {
    cursor: pointer;
    padding-right: .5rem;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding-left: 1.1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.user-wrapper .la-cog {
    font-size: 45px;
    border-radius: 50%;
    margin-right: .5rem;
    color: var(--main-color);
    animation: settingsAnimations infinite;
    animation-duration: 15s;
    animation-direction: alternate;
}

@keyframes settingsAnimations {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(70deg);
    }

    40% {
        transform: rotate(140deg);
        color: red;
    }

    60% {
        transform: rotate(210deg);
    }

    80% {
        transform: rotate(300deg);
    }

    99% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-color-gray);
    padding-top: .2rem;
}

main {
    margin-top: 90px;
    padding: 2rem 1.5rem;
    background-color: #f0f0f0;
    min-height: calc(100vh - 90px);
}

/* --- Choose options ---- */
.hiden {
    display: none;
}

.show {
    display: block;
}

.chooseOptions {
    display: flex;
    width: 100%;
    min-width: 240px;
}

.chooseOptions .optionsGroup {
    flex-basis: 25%;
    background-color: #fff;
    border: rgba(0, 0, 0, 0.15) 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 1.6rem 1rem 1rem 1.5rem;
    position: relative;
}

.chooseOptions .optionsGroup:last-child {
    background: linear-gradient(63deg, rgba(247, 31, 78, 1) 0%, rgba(204, 19, 113, 1) 100%);
    color: #fff;
}

.chooseColumnsToShow {
    padding-bottom: .7rem;
}

.la-list-alt {
    position: absolute;
    font-size: 4rem;
    margin-left: auto;
    right: 30px;
    bottom: 15px;
}

.optionsGroup .checkBoxOptions label {
    font-size: .9rem;
    color: #f30035;
    display: block;
    font-weight: 500;
}

.optionsGroup .checkBoxOptions input {
    margin: .2rem;
}

.quickNewOrderIcon {
    display: block;
    color: #fff;
    font-size: 5rem;
    right: 10px;
    /* background-color: rgb(70, 38, 38); */
    text-align: right;
    padding-right: 25px;
    padding-top: 1.4rem;
}

.la-plus-circle:hover {
    color: rgb(255, 224, 47);
    cursor: pointer;
}

.optionsGroup .wrapp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3.5rem;
    padding: 1rem .3rem 1rem 0;
}

.optionsGroup .counter {
    font-weight: 700;
    color: var(--second-color);
}

.optionsGroup .orders_worth {
    font-size: 0.9rem;
    padding-bottom: .5rem;
    color: var(--main-color);
}

/* --- Choose options end---- */


/* --- START TABLE FROM DATABASE ---*/
.recent-grid {
    margin-top: 2.5rem;
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: 70% auto;
}

.getOrders,
.last-order {
    cursor: pointer;
}

.card {
    background-color: #fff;
    border-radius: 5px;
}

.card-header .card-body {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    padding: .6rem;
}

.card-header button {
    background-color: var(--second-color);
    border-radius: 5px;
    color: #fff;
    font-size: .8rem;
    padding: .9rem 1.5rem;
    border: rgb(226, 76, 76) 1px solid;
    transition: .2s;
}

.card-header button:hover {
    background-color: rgb(56, 56, 56);
    color: #fff;
    border: rgb(0, 0, 0) 1px solid;
}

.card-header button span {
    padding-left: .2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

td {
    padding: .8rem;
    font-size: .9rem;
}

thead td {
    font-weight: 700;
    padding: .9rem;
    color: #333;
}

tbody tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

span.status {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 196, 0);
    margin-right: .8rem;
}

span.status.after {
    background-color: red;
}

span.status.before {
    background-color: rgb(20, 194, 20);
}

/* --- END TABLE FROM DATABASE ---*/

/*--- START ADD NEW ORDER - STYLING FORM ---*/

.addOrderForm {
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 400px;
    max-width: 650px;
    min-height: 200px;
    /* background-color: var(--second-color); */
    background: linear-gradient(63deg, rgba(247, 31, 78, 1) 0%, rgb(214, 41, 99) 100%);
    display: none;
    flex-direction: column;
    transform: translate(-50%, -50%);
    z-index: 101;
    color: #fff;
    box-shadow: rgb(190, 190, 190) 10px 10px 20px 5px;
    border-radius: 5px;
}

.orderFormShow {
    display: flex;
}

.sectionClose {
    position: relative;
}

.addOrderForm .close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    color: aliceblue;
    text-align: center;
    padding: .7rem 1rem;
}

.addOrderForm .close:hover {
    cursor: pointer;
}

div.container {
    padding: 3rem;
}

.addOrderForm input {
    display: block;
    width: 100%;
    padding: .7rem;
    margin: .5rem 0;
    outline: none;
    border: 1px solid rgb(167, 0, 0);
    color: var(--main-color);
}

.saveNewOrder {
    background-color: #f1f1f1;
    color: var(--main-color);
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    line-height: 28px;
    font-size: 1rem;
    font-weight: 500;
    transition: .2s;
}

.saveNewOrder:hover {
    background-color: var(--first-hover-color);
}

input:disabled {
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(167, 0, 0);
    color: var(--main-color)
}

/*--- END ADD NEW ORDER - STYLING FORM ---*/


/*--- START UPDATE ORDER - STYLING FORM ---*/

.edit_OrderForm {
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 400px;
    max-width: 650px;
    min-height: 200px;
    /* background-color: var(--second-color); */
    background: linear-gradient(63deg, rgba(247, 31, 78, 1) 0%, rgb(214, 41, 99) 100%);
    display: none;
    flex-direction: column;
    transform: translate(-50%, -50%);
    z-index: 101;
    color: #fff;
    box-shadow: rgb(190, 190, 190) 10px 10px 20px 5px;
    border-radius: 5px;
}

.edit_orderFormShow {
    display: flex;
}

.edit_sectionClose {
    position: relative;
}

.edit_OrderForm .edit_close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    color: aliceblue;
    text-align: center;
    padding: .7rem 1rem;
}

.edit_OrderForm .edit_close:hover {
    cursor: pointer;
}

.edit_idOrder {
    padding-bottom: 1rem;
    font-weight: bold;
}

div.edit_container {
    padding: 3rem;
}

.edit_OrderForm input {
    display: block;
    width: 100%;
    padding: .7rem;
    margin: .5rem 0;
    outline: none;
}

.sendEdit_Order {
    background-color: #f1f1f1;
    color: var(--main-color);
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    line-height: 28px;
    font-size: 1rem;
    font-weight: 500;
    transition: .2s;
    border: 1px solid rgb(172, 0, 0);
    /* color: white; */
}

.sendEdit_Order:hover {
    background-color: var(--first-hover-color);
}

/*--- END UPDATE ORDER - STYLING FORM ---*/


/* --- RIGHT-CLICK MOUSE MENU  ----*/
.context-menu {
    position: fixed;
    padding: 1rem 1.5rem 2rem 1.5rem;
    background-color: rgb(240, 46, 85);
    color: #fff;
    min-width: 240px;
    max-width: 270px;
    font-size: .9rem;
    font-family: 'Popins', sans-serif;
    font-weight: 500;
    display: none;
}

.visible-context-menu {
    display: block;
}

.context-menu .item {
    border-bottom: rgb(168, 168, 168) 1px solid;
}

.context-menu .item .las {
    padding-right: .7rem;
    padding-bottom: .7rem;
    padding-top: .8rem;
    font-size: 1.3rem;
}

.context-menu .item:hover {
    color: #ffe1a1;
    cursor: pointer;
}

/* --- END RIGHT-CLICK MOUSE MENU  ----*/

/*---- START Confirm remove the order ----*/
.confirm-remove-order {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem 3.5rem 2.5rem 3.5rem;
    background-color: rgb(240, 46, 85);
    color: #fff;
    min-width: 350px;
    line-height: 1.6rem;
    text-align: center;
    max-width: 370px;
    min-height: 150px;
    font-size: 1.1rem;
    font-family: 'Popins', sans-serif;
    font-weight: 500;
    box-shadow: 10px 10px 20px rgb(122, 122, 122);
    display: none;
}

.confirm-remove-order span {
    font-weight: 700;
    font-size: 1.3rem;
}

.confirm-remove-order .buttons_remove_order button {
    padding: .6rem 2rem;
    margin-top: 1.2rem;
    margin-right: .1rem;
    margin-left: .1rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(235, 235, 235);
}

.confirm-remove-order .buttons_remove_order button:hover {
    background-color: var(--main-color);
    color: #fff;
}

.show_remove {
    display: block;
}

/*---- END Confirm remove the order ----*/